[build]
  base = "frontend"
  command = "npm run build"
  publish = "build"

[build.environment]
  NODE_VERSION = "18"
  REACT_APP_API_URL = "https://ev-finder-spu3.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
